<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="../static/css/SignUp.css" />
    <script src="../static/js/script.js" defer></script>
    <title>Administrator registraion</title>
</head>

<body>

    </form>
    <div class="content">
        <div class="container-fluid">
            <div class="row">
                <div class="col-md-8">
                    <div class="card">
                        <div class="card-header card-header-primary">
                            <h2 class="card-title" style="color:darkred;">Registration Form</h2>
                            <p class="card-category">Complete Admin's Data</p>
                        </div>
                        <div class="card-body">
                            <!-- <form action="{{ url_for('AdminRegistration')}}" method="POST"> -->
                            <form action="{{ url_for('AdminRegistration')}}" method="POST">
                                <div class="row">
                                    <div class="col-md-3">
                                        <div class="form-group">
                                            <label class="bmd-label-floating"> Name </label>
                                            <input type="text" name="A_name" class="form-control" placeholder="John Smith William" pattern="[a-Za-z\s]" minlength="3" maxlength="50" required/>
                                        </div>
                                    </div>

                                </div>
                                <div class="row">
                                    <div class="col-md-3">
                                        <div class="form-group">
                                            <label class="bmd-label-floating">ID</label>
                                            <input type="number" name="A_ID" class="form-control" min="1" pattern="[0-9]{11}" required/>
                                        </div>
                                    </div>

                                    <div class="col-md-3">
                                        <div class="form-group">
                                            <label class="bmd-label-floating">Password</label>
                                            <input type="password" name="A_password" class="form-control" pattern="(?=.*\d)(?=.*[a-z])(?=.*[A-Z]).{8,}" title="Must contain at least one  number and one uppercase and lowercase letter, and at least 8 or more characters" required/>
                                  </div>
                                          </div>
                                </div>

                                <div class="col-md-3">
                                    <div class="form-group">
                                        <label class="bmd-label-floating">Age</label>
                                        <input type="number" name="A_Age" class="form-control" min="1"  max="122" required/>
                                    </div>
                                </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-3">
                                <div class="form-group">
                                    <label class="bmd-label-floating">Gender</label>
                                    <input type="text" name="A_gender" class="form-control" required/>

                                </div>
                            </div>
                            <div class="col-md-3">
                                <div class="form-group">
                                    <label class="bmd-label-floating">Mobile Phone</label>
                                    <input type="number" name="A_phone" class="form-control" placeholder="012345678901" pattern="[0-9]{11}" required/>
                                </div>
                            </div>
                        </div>

                        <div class="col-md-3">
                            <div class="form-group">
                                <label class="bmd-label-floating">Email</label>
                                <input type="email" name="A_Email" class="form-control" pattern=".+@gmail\.com" size="30" required/>
                            </div>
                        </div>
                    </div>
                    <button type="submit" class="btn btn-primary pull-right">submit</button>
                    <div class="clearfix"></div>
                    </form>
                </div>
            </div>
        </div>

    </div>
    </div>
    </div>
</body>

</html>